* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0.5rem 0rem;
}
.head {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  padding: 0rem 0rem;
}
.h1-main {
  color: rgb(255, 255, 255);
  font-weight: 300;
  padding: 2rem 2rem;
  font-size: 3rem;
}
.p-main {
  width: 440px;
  padding: 1rem 2rem;
  color: white;
  text-align: justify;
}
.hr {
  padding: 3px;
  border: none;
  border-radius: 1px;
  width: 14rem;
  margin-left: 0.1rem;
  background-color: rgb(25, 20, 100);
}
.nav {
  display: flex;
  gap: 2rem;
}

.link {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.contato {
  padding: 10px 12px;
  cursor: pointer;
  background-color: #008543;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}
.main {
  background: url("../../public/cotacao2.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}
.btn {
  margin-top: 1rem;
  margin-left: 2rem;
}

.form {
  padding: 1rem;
  margin: auto;
  text-align: center;
  margin: 1rem 0;
}

.login {
  text-align: center;
}
input {
  padding: 1rem;
  margin: 0.5rem 0;
  width: 20rem;
  border-radius: 0.2rem;
  border: none;
  text-transform: capitalize;
}
