.h1Planos {
  font-weight: 100;
  padding: 4rem 0rem 2rem 0rem;
}

.main {
  background-color: #e2e2e2ab;
  height: 100vh;
  text-align: center;
}

.planesButtons {
  padding: 10px 20px;
  background-color: #144272;
  color: white;
  border: none;
  margin: 0rem 0.5rem;
  border-radius: 2px;
  width: 8rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  font-family: sans-serif;
}
