.subtitle {
  background-color: #144272;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.subtitle a {
  color: white;
  text-decoration: none;
  margin: 0rem 0.5rem;
}

.main {
  background-color: #051d3b;
  height: 100vh;
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
}
