.subtitle {
  background-color: #144272;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
}

.subtitle a {
  color: white;
  text-decoration: none;
  margin: 0rem 0.5rem;
}

.main {
  background-color: #051d3b;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  padding-top:4rem ;
}
.paragraph{
  color: white;
  background-color: #144272;
  padding: .4rem;
  border-radius: .1rem;
  width: 200px;
}
.titleCard{
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
}

.link{
  text-decoration: none;
  color: rgb(251, 255, 12);
 
}